---
// import Product from "../components/Product.astro";
// const responseProduct = await fetch("https://fakestoreapi.com/products");
// const product = await responseProduct.json();
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Productos</h1>

    <!-- {product.map(product => <Product product={product}/>)} -->
    <!-- <main class="bg-slate-500 p-2 grid gap-2 2xl:grid-cols-6 xl:grid-cols-5 lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2">
      {product.map(product => <Product product={product} />)}
  </main> -->
  </body>
</html>
